jobs:
  lighthouse:
    docker:
      - image: circleci/node:9.10.0-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies
      - run:
          command: npm run test:lighthouse
          name: Lighthouse
    working_directory: ~/repo
  lint:
    docker:
      - image: circleci/node:9.11.2
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies
      - run: 'yarn install'
      - save_cache:
          key: v1-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run: 'yarn lint'
    working_directory: ~/repo
  snapshots:
    docker:
      - image: circleci/node:9.11.2
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies
      - run:
          command: npm run test:snapshots
          name: Snapshots
    working_directory: ~/repo
  testcafe:
    docker:
      - image: circleci/node:9.10.0-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - run:
          command: npm run build:app
          name: Start
      - run:
          command: npm run test:e2e
          name: Testcafe
    working_directory: ~/repo
version: 2
workflows:
  build_and_test:
    jobs:
      - lint
      - lighthouse
      - snapshots
      - testcafe
  version: 2
