body, html {
  width: 100%;
  overflow-x: scroll;
}

h1 {
  color: inherit;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
}

h2 {
  color: inherit;
  font-weight: bold;
  font-size: 1.62671rem;
  line-height: 1.1;
}

h3 {
  color: inherit;
  font-weight: bold;
  font-size: 1.38316rem;
  line-height: 1.1;
}

h4 {
  color: inherit;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  color: inherit;
  font-weight: bold;
  font-size: 0.85028rem;
  line-height: 1.1;
}

h6 {
  color: inherit;
  font-weight: bold;
  font-size: 0.78405rem;
  line-height: 1.1;
}

figure {}

noscript {}

iframe {}

hr {
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
